# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will use the watchlist you created to answer these questions:

1. **Which streaming services contain the shows you want to watch next?**
2. **Which streaming service is the best value based on the shows you want to watch?**

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. 

**Remember**: we learned in our prep work that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell. You will need 10 shows overall.

1. You
2. Bel Air
3. The Lord of the Rings: The Rings of Power
4. The Boys
5. See
6. Avatar: The Last Airbender
7. Demon Slayer
8. One Piece
9. Lioness
10. My Wife and Kids

## Database Setup

Import the necessary libraries and create a dataframe from the provided CSV. 

Print the info out for the dataframe. 

After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces or unusual characters in the names such as `"Disney+"`. 

Print out the info for the dataframe again to ensure your changes were made.

In [84]:
# Code here
import sqlite3
import pandas as pd
df = pd.read_csv(r"C:\Users\holme\OneDrive\Desktop\LaunchCode\data-analysis-projects-class-19-and-20\class-20\studio\tv_shows.csv")

df = df.drop(columns = ['Unnamed: 0'])
print(df.columns)

df = df.rename(columns = {'Disney+' : 'Disney_Plus', 'Prime Video' : 'Prime_Video'})
df.info()

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Netflix',
       'Hulu', 'Prime Video', 'Disney+', 'Type'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime_Video      5368 non-null   int64
 9   Disney_Plus      5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 461.4+ KB

With your dataframe at the ready, create a new database called `tv.db`. 

Add a new table to your database called `shows` using the data in the dataframe.

In [85]:
# Code here
con = sqlite3.connect('tv.db')
cur = con.cursor()
with con:
    df.to_sql('shows', con, if_exists='replace', index=False)

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [86]:
# Code Here
with con:
    tv_db = pd.read_sql('SELECT * FROM shows', con)
tv_db.head(20)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime_Video,Disney_Plus,Type
0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
5,6,Avatar: The Last Airbender,2005,7+,9.3/10,93/100,1,0,1,0,1
6,7,Peaky Blinders,2013,18+,8.8/10,93/100,1,0,0,0,1
7,8,The Walking Dead,2010,18+,8.2/10,93/100,1,0,0,0,1
8,9,Black Mirror,2011,18+,8.8/10,92/100,1,0,0,0,1
9,10,The Queen's Gambit,2020,18+,8.6/10,92/100,1,0,0,0,1
10,11,Mindhunter,2017,18+,8.6/10,90/100,1,0,0,0,1
11,12,Community,2009,7+,8.5/10,90/100,1,1,1,0,1
12,13,Narcos,2015,18+,8.8/10,90/100,1,0,0,0,1
13,14,Shameless,2011,18+,8.5/10,90/100,1,1,1,0,1
14,15,Money Heist,2017,18+,8.3/10,90/100,1,0,0,0,1
15,16,Marvel's Daredevil,2015,18+,8.6/10,90/100,1,0,0,0,1
16,17,Lucifer,2016,16+,8.1/10,90/100,1,0,0,0,1
17,18,Supernatural,2005,16+,8.4/10,89/100,1,0,0,0,1
18,19,The Witcher,2019,18+,8.2/10,89/100,1,0,0,0,1
19,20,Ozark,2017,18+,8.4/10,89/100,1,0,0,0,1

Now, create a new table called `watchlist` that has three fields:
1. id -> data type of `INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT`
2. title -> data type of `TEXT`
3. importance_rank -> data type of `INTEGER`

For the `importance_rank` field, rank each of your watchlist shows based on how much you want to see them, `10` being the most important and `1` being the least important.

Then, insert each of the items from your watchlist into the new `watchlist` table, using the `executemany` method from our exercises.

Finally, select all the records from the `watchlist` table and print them out to the console.

In [70]:
# Code here

with con:
    con.execute("DROP TABLE IF EXISTS watchlist")
    cur.executescript("""
         BEGIN;
         CREATE TABLE watchlist (
         id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
         title TEXT,
         importance_rank INTEGER);
         COMMIT;
""")
sql = 'INSERT INTO watchlist (title, importance_rank) values(?, ?)'
data = [
    ('You', 10), 
    ('Bel Air', 5), 
    ('The Lord of the Rings: The Rings of Power', 9), 
    ('The Boys',2), 
    ('See', 3),
    ('Avatar: The Last Airbender', 4),
    ('Demon Slayer', 1),
    ('One Piece', 6),
    ('Lioness', 7),
    ('My Wife and Kids', 8)]

with con:
    cur.executemany(sql,data)
cur.execute("SELECT * FROM watchlist").fetchall()

[(1, 'You', 10),
 (2, 'Bel Air', 5),
 (3, 'The Lord of the Rings: The Rings of Power', 9),
 (4, 'The Boys', 2),
 (5, 'See', 3),
 (6, 'Avatar: The Last Airbender', 4),
 (7, 'Demon Slayer', 1),
 (8, 'One Piece', 6),
 (9, 'Lioness', 7),
 (10, 'My Wife and Kids', 8)]

## Working with the Data

Using Pandas or SQL, find the answer to these 2 questions:
1. How many of the total shows (full csv list) are on each streaming service?
2. What percentage of these total shows is available on each streaming service?

**Hint**:

Use the pandas `query` method to filter the data, and then the Python `len` method to find it's length. [Relevant Link](https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/)

In [116]:
# Code here
streaming_services = ['Netflix', 'Hulu', 'Prime_Video', 'Disney_Plus']

# Calculate the number of shows on each streaming service
Netflix_count = len(df.query("Netflix == 1"))
Hulu_count = len(df.query("Hulu == 1"))
Prime_Video_count = len(df.query("Prime_Video == 1"))
Disney_Plus_count = len(df.query("Disney_Plus == 1"))

# Calculate the total number of shows
total_shows = len(df)

# Calculate the percentage of shows on each streaming service
Netflix_percentage = (Netflix_count / total_shows) * 100
Hulu_percentage = (Hulu_count / total_shows) * 100
Prime_Video_percentage = (Prime_Video_count / total_shows) * 100
Disney_Plus_percentage = (Disney_Plus_count / total_shows) * 100

# Print the results
print("Number of shows on each streaming service:")
print("Netflix:", Netflix_count)
print("Hulu:", Hulu_count)
print("Prime_Video:", Prime_Video_count)
print("Disney_Plus:", Disney_Plus_count)

print("\nPercentage of total shows on each streaming service:")
print("Netflix:", round(Netflix_percentage, 2), "%")
print("Hulu:", round(Hulu_percentage, 2), "%")
print("Prime_Video:", round(Prime_Video_percentage, 2), "%")
print("Disney_Plus:", round(Disney_Plus_percentage, 2), "%")

Number of shows on each streaming service:
Netflix: 1971
Hulu: 1621
Prime_Video: 1831
Disney_Plus: 351

Percentage of total shows on each streaming service:
Netflix: 36.72 %
Hulu: 30.2 %
Prime_Video: 34.11 %
Disney_Plus: 6.54 %


Now join your `watchlist` data to the `shows` data using pandas or SQL. Verify that you joined the data correctly.

Using this related dataset, come up with analytic code that answers these questions:
1. The number of watchlist shows each streaming service has
2. The percentage of your overall watchlist each streaming service has

In [108]:
# Code here
df_watchlist = pd.DataFrame(data, columns=['title', 'importance_rank'])

# Join the watchlist DataFrame with the shows DataFrame on the title
df_joined = pd.merge(df_watchlist, df, left_on='title', right_on='Title', how='left')

display(df_joined.head(10))

# List of streaming services
streaming_services = ['Netflix', 'Hulu', 'Prime_Video', 'Disney_Plus']

# Calculate the number of watchlist shows on each streaming service
Netflix_count = df_joined['Netflix'].sum()
Hulu_count = df_joined['Hulu'].sum()
Prime_Video_count = df_joined['Prime_Video'].sum()
DisneyPlus_count = df_joined['Disney_Plus'].sum()

# Calculate the total number of shows in the watchlist
total_watchlist_shows = len(df_watchlist)

# Calculate the percentage of the watchlist each streaming service has
Netflix_percentage = (Netflix_count / total_watchlist_shows) * 100
Hulu_percentage = (Hulu_count / total_watchlist_shows) * 100
Prime_Video_percentage = (Prime_Video_count / total_watchlist_shows) * 100
DisneyPlus_percentage = (DisneyPlus_count / total_watchlist_shows) * 100

# Print the results
print("\nNumber of watchlist shows on each streaming service:")
print("Netflix:", Netflix_count)
print("Hulu:", Hulu_count)
print("Prime_Video:", Prime_Video_count)
print("Disney_Plus:", DisneyPlus_count)

print("\nPercentage of watchlist shows on each streaming service:")
print("Netflix:", Netflix_percentage.round(2), "%")
print("Hulu:", Hulu_percentage.round(2), "%")
print("Prime_Video:", Prime_Video_percentage.round(2), "%")
print("Disney_Plus:", DisneyPlus_percentage.round(2), "%")

,title,importance_rank,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime_Video,Disney_Plus,Type
0,You,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bel Air,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,The Lord of the Rings: The Rings of Power,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,The Boys,2,3581.0,The Boys,2019.0,18+,8.7/10,93/100,0.0,0.0,1.0,0.0,1.0
4,See,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Avatar: The Last Airbender,4,6.0,Avatar: The Last Airbender,2005.0,7+,9.3/10,93/100,1.0,0.0,1.0,0.0,1.0
6,Demon Slayer,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,One Piece,6,55.0,One Piece,1999.0,7+,8.8/10,85/100,1.0,1.0,0.0,0.0,1.0
8,Lioness,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,My Wife and Kids,8,2343.0,My Wife and Kids,2001.0,7+,6.8/10,67/100,0.0,1.0,0.0,0.0,1.0

Number of watchlist shows on each streaming service:
Netflix: 2.0
Hulu: 2.0
Prime_Video: 2.0
Disney_Plus: 0.0

Percentage of watchlist shows on each streaming service:
Netflix: 20.0 %
Hulu: 20.0 %
Prime_Video: 20.0 %
Disney_Plus: 0.0 %

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?

- *your_answer* No, they all weren't. This is because not all streaming services are listed, and some shows might not be popular enough to be included in the dataset.

2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?

- *your_answer* Yes. Including shows that are exclusive to one platform would skew the results towards that platform, making it seem like it has a higher percentage of the shows I want to watch.

3. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?

- *your_answer*The streaming service that offered the most shows on my watchlist was Prime Video, and the one that offered the least was Disney Plus.

4. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?

- *your_answer* Based on the shows I want to watch and the analysis results, Prime Video would be a good fit for me.

# Bonus Mission

We didn't end up using that `importance_rank` field, did we?

Well, that was intentional! 

Your bonus mission is to come up with analysis that uses that field to determine, based on watchlist show importance_rank and number of watchlist shows available on a service, which platform you should subscribe to.

In [101]:
# Code Here